/* ========== import custom styles ========== */
@import 'custom-styles.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========== tailwind custom styles ========== */
@layer components {
  html {
    scroll-behavior: smooth;
  }

  html.dark {
    background-color: #050505;
    color: #fff;
  }

  body {
    display: flex;
    flex-direction: column;
    font-family: 'Onest Variable', sans-serif;
  }

  .container {
    @apply mx-auto max-w-[800px] px-4;
  }

  h1 {
    @apply main-heading text-balance text-4xl sm:text-7xl;
  }

  h2 {
    @apply text-balance text-xl font-semibold text-black/80 dark:text-white;
  }

  p,
  li,
  a {
    @apply text-pretty dark:text-white/50;
  }

  .navbar a {
    @apply text-black/50 transition-all duration-300 hover:scale-105 hover:text-black dark:text-white/50 dark:hover:text-white;
  }

  .social-icons {
    @apply flex h-10 w-32 items-center justify-center gap-x-2 rounded-lg border-2 border-black/50 bg-white/70 p-5 text-black/60 transition-all duration-300 hover:scale-105 hover:border-black hover:bg-white/80 hover:text-black dark:bg-white/5 dark:hover:bg-white/15 dark:hover:text-white;
  }
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
