---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <section class='w-full mx-auto lg:w-[740px] py-44'>
      <h1 class='flex gap-2 text-5xl font-semibold'>
        Hey, soy Raúl <a
          href='https://www.linkedin.com/in/raulnunezsantiago/'
          target='_blank'
          rel='noopener'
          class='flex place-items-center'
        >
          <Badge>Open to work</Badge></a
        >
      </h1>
      <h2 class='text-xl opacity-80'>Desarrolador Web y estudiante life-time. De Málaga, España</h2>
      <ul>
        <Badge>React</Badge>
        <Badge>2</Badge>
      </ul>
    </section>
  </main>
</Layout>
