<footer
  class='rounded-lg shadow m-4 bg-black/5 dark:bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10'>
  <div class='w-full max-w-screen-xl p-4 mx-auto md:flex md:items-center md:justify-center'>
    <span class='text-xl sm:text-center dark:text-white/90 opacity-80'
      >© 2023 <a
        href='https://midu.dev/'
        class='hover:underline'
        >Raúl Núñez</a
      >
    </span>
  </div>
</footer>
