---
import { info } from '@/data/info';

const date = new Date().getFullYear();
---

<footer class='container mb-8 flex flex-col items-center justify-center sm:mb-4 sm:flex-row'>
  <p class='my-8 text-right'>
    Developed by <strong class='text-gray/80 hover:text-sky-400 dark:hover:text-yellow-200'>
      {info.name} - {date}</strong
    >
  </p>
</footer>
