<header class='flex justify-between items-center py-3 w-[1120px] mx-auto mt-2'>
  <img
    class='rounded-full h-14 flex items-center justify-center'
    src='https://avatars.githubusercontent.com/u/102753249?v=4'
    alt='Photo'
  />
  <nav class='flex flex-row gap-x-10 opacity-80'>
    <a href='/'>Home</a>
    <a href='/about'>About</a>
    <a href='/projects'>Projects</a>
    <a href='/contact'>Contact</a>
  </nav>
</header>
