<header class='flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto mt-2'>
  <nav class='flex flex-row gap-x-10 opacity-80'>
    <a
      class='px-2 rounded-full hover:bg-white/10'
      href='#top'
      >Inicio</a
    >
    <a
      class='px-2 rounded-full hover:bg-white/10'
      href='#experiencia'
      >Experiencia</a
    >
    <a
      class='px-2 rounded-full hover:bg-white/10'
      href='#proyectos'
      >Proyectos</a
    >
    <a
      class='px-2 rounded-full hover:bg-white/10'
      href='#sobre-mi'
      >Sobre mi</a
    >
    <a
      class='px-2 rounded-full hover:bg-white/10'
      href='#contacto'
      >Contacto</a
    >
  </nav>
</header>
