---
import type { IHeroProps } from '@/types';
import Badge from './Badge.astro';

const { name, about, id } = Astro.props as IHeroProps;
---

<section
  id={id}
  class='my-20 flex scroll-mt-36 flex-col'>
  <img
    class='mb-2 size-20 rounded-full'
    src='assets/images/profile.webp'
    alt=''
  />
  <h2>Hey, soy</h2>
  <section class='flex gap-6'>
    <h1 class='my-6'>{name}</h1>
    <a
      href='https://www.linkedin.com/in/raulnunezsantiago/'
      target='_blank'
      rel='noopener'
      class='flex items-center justify-center'>
      <Badge>Open to work</Badge>
    </a>
  </section>
  <p>
    {about}
  </p>
</section>
