---
import { info } from '@/data/info';
import createLogo from '@/utils';
import ThemeIcon from '@/components/ThemeIcon.astro';
---

<header class='container sticky top-4 z-10'>
  <section
    class='navbar flex flex-col items-center justify-between rounded-xl bg-[#8b64f2] dark:bg-[#16161f] sm:flex-row sm:px-4'
    '>
    <a
      class='text-2xl font-semibold'
      href='/#top'
      >{createLogo(info.name)}.
    </a>
    <nav class='top-10 flex items-center gap-4'>
      <a href='/#experiencia'>Experiencia</a>
      <a href='/#educacion'>Educación</a>
      <a href='/#proyectos'>Proyectos</a>
      <a href='/#contacto'>Contacto</a>
    </nav>
    <ThemeIcon />
  </section>
</header>
