---
import { info } from '@/data/info';
import createLogo from '@/utils';
import ThemeIcon from '@/components/ThemeIcon.astro';
---

<header
  class='sticky top-0 z-10 flex items-center justify-between bg-[rgba(173,146,245,0.5)] p-4 backdrop-blur-md dark:bg-[rgba(22,22,31,0.5)]'>
  <a
    class='text-2xl font-semibold'
    href='/#top'
    >{createLogo(info.name)}
  </a>
  <nav class='navbar top-10 flex flex-col items-center gap-3 p-2 sm:flex-row'>
    <a href='/#experiencia'>Experiencia</a>
    <a href='/#educacion'>Educación</a>
    <a href='/#proyectos'>Proyectos</a>
    <a href='/#contacto'>Contacto</a>
  </nav>
  <ThemeIcon />
</header>
