---
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/Navbar.astro';
import { info } from '@/data/info';
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content={info.about}
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>{info.title}</title>
  </head>
  <body class='relative'>
    <div
      class='absolute bottom-0 top-0 -z-10 w-full [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)] dark:items-center dark:px-5 dark:py-24 dark:[background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]'>
    </div>
    <Navbar />
    <main class='container'>
      <slot />
    </main>
    <Footer />
  </body>
</html>
