---
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/Navbar.astro';
import MetaHead from '@/components/MetaHead.astro';
import { info } from '@/data/info';
---

<!doctype html>
<html lang='es'>
  <head>
    <MetaHead
      title={'Portfolio de'}
      description={info.about}
      ogImageUrl={'assets/images/profile.webp'}
    />
  </head>
  <body>
    <div
      class='absolute top-0 z-10 w-dvw bg-white [background:radial-gradient(100%_100%_at_50%_10%,#fff_40%,#63e_100%)] dark:bg-neutral-950 dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]'>
      <Navbar />
      <main class='container'>
        <slot />
      </main>
      <Footer />
    </div>
    <div
      class='absolute inset-0 -z-10 h-full w-full bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)]'>
    </div>
  </body>
</html>
